

    <nav class="navbar navbar-expand-lg navbar-light bg-light navigationOUT" id="navigation">
        <a class="navbar-brand" href="/">Gotuj z nami </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown categoryNavLi">
                    <div class="dropdown">
                        <form class="fromNav" action="/" method="get">
                            <button class="btn btn-secondary dropdown-toggle selectNav" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Wybierz kategorię
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <input type="submit" class="dropdown-item" href="#" name="kategoria"
                                    value="Dania i przekąski" />
                                <input type="submit" class="dropdown-item" href="#" name="kategoria" value="Ciasta" />
                                <input type="submit" class="dropdown-item" href="#" name="kategoria"
                                    value="Lody i napoje" />
                                <input type="submit" class="dropdown-item" href="#" name="kategoria" value="Wege">
                                <input type="submit" class="dropdown-item" href="#" name="kategoria"
                                    value="Kuchnie świata" />
                            </div>
                    </div>
                    </form>
                </li>

                <li class="nav-item active searchForm">

                    <form class="form-inline my-2 my-lg-0" action="/" method="get">
                        <input class="form-control searchNavInput" name="search" type="search" placeholder="Szukaj przepisów"
                            aria-label="Search" required>
                        <button class="btn btn-outline-success my-2 my-sm-0 searchButton" type="submit">Szukaj</button>
                    </form>
                    {{!--  --}}   
                    <form action="/search" method="get">
                        <button class="searchDetailButton" type="submit">
                                Wyszukiwanie zaawansowane </button>
                    </form>
                </li>

            </ul>

           
            <form action="/openAuth" method="get">
                <a class="nav-link" href="#">

                    <a href="#"><button class="btn btn-outline-success my-2 my-sm-0 searchButton" type="submit">
                            Zaloguj się</button></a>
            </form>
            {{!--  --}}
            <form action="/openRegister" method="get">
                <a class="nav-link" href="#">

                    <a href="#"><button class="btn btn-outline-success my-2 my-sm-0 searchButton" type="submit">
                            Zarejestruj się</button></a>
            </form>
        </div>
    </nav>

