<ul class='listRecipesMenu'>
    <li><span class="id"> {{ id }}</span>
    </li>
    <li class='list_title' name="nazwa">
        <form action="/recipe" method="get">
            <button type="submit" class="SeeMoreButton nameMenuitemItem"
                data-id="{{ id }}">{{ nazwa }}</button>
        </form>

    </li>
    <li>
        <br>
        <form action="/recipe" method="get">
            <button type="submit" class="SeeMoreButton" data-id="{{ id }}"> <img style="width: 240px"
                    src="../uploads/{{photo}}" alt="zdjęcie potrawy"></button>
        </form>
    </li>
    <hr class="hrRecipe">
    <li class="bottom">
        <div class='list_description' name="kategoria">Kategoria: {{ kategoria }} </div>
        <button class="btn deleteMenuItemBtn" data-id="{{ id_menu_item }}">Usuń</button>
    </li>
</ul>