<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">
    <a class="navbar-brand" href="/">Gotuj z nami </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigationIn">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown categoryNavLi">
                <div class="dropdown">
                    <form class="fromNav" action="/" method="get">
                        <button class="btn btn-secondary dropdown-toggle selectNav" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Wybierz kategorię
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <input type="submit" class="dropdown-item" href="#" name="kategoria"
                                value="Dania i przekąski" />
                            <input type="submit" class="dropdown-item" href="#" name="kategoria" value="Ciasta" />
                            <input type="submit" class="dropdown-item" href="#" name="kategoria"
                                value="Lody i napoje" />
                            <input type="submit" class="dropdown-item" href="#" name="kategoria" value="Wege">
                            <input type="submit" class="dropdown-item" href="#" name="kategoria"
                                value="Kuchnie świata" />
                        </div>
                </div>
                </form>
            </li>

            <li class="nav-item active searchForm">
{{#if menuSearch}} 
 <form class="form-inline my-2 my-lg-0" action="/menulist" method="get">
                    <input class="form-control searchNavInput" name="search" type="search" placeholder="Szukaj jadłospisów"
                        aria-label="Search" required>
                    <button class="btn btn-outline-success my-2 my-sm-0 searchButton" type="submit">Szukaj</button>
                </form>
                 <br> 
                {{!--  --}}
        
{{else}}
                <form class="form-inline my-2 my-lg-0" action="/" method="get">
                    <input class="form-control searchNavInput" name="search" type="search" placeholder="Szukaj przepisów"
                        aria-label="Search" required>
                    <button class="btn btn-outline-success my-2 my-sm-0 searchButton" type="submit">Szukaj</button>
                   
                </form>
                {{!--  --}}
                <form action="/search" method="get">

                    <a href="#"><button class="searchDetailButton" type="submit">
                            Wyszukiwanie zaawansowane </button></a>
                </form>
                {{/if}} 
            </li>

        </ul>

        <form action="/openadd" method="get" id="openAddTabForm">
            <a class="nav-link" href="#">
                <button type="submit" class=" addRecipe" id="openAddTabButton">Dodaj
                    przepis</button></a>
        </form>
        {{!--  --}}
      
        <div class="dropdown">

            <button class="btn btn-secondary dropdown-toggle selectNav loggedInAs" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{nameOfUser}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <form class="form-inline my-2 my-lg-0" action="/profile" method="get">
                    <button type="submit" class=" dropdownUser ">Moje przepisy</button>
                </form>

                <form action="/menuList" method="get">
                   <input type="hidden" name="user" value="{{id_user}}"/>
                   <a href="/menu"><button class="dropdownUser" type="submit">
                            Jadłospisy</button></form></a>
                </form>

                <form action="/favourite" method="get">
                    <input type="hidden" name="user" value="{{id_user}}" />
                    <a href="/favouriteList"><button class="dropdownUser" type="submit">
                            Ulubione przepisy</button></a>
                </form>

                <form action="/editUser" method="get">
                    <button href="javascript:void(0);" type="submit" class="dropdownUser " data-toggle="modal"
                        data-target="#exampleModal" data-id="{{ id }}" data-username="{{ username }}"
                        data-email="{{ email }}" data-password="{{password}}">
                        Ustawienia profilu
                    </button>
                </form>
                <hr>
                <form action="/logout" method="get">

                    <a href="#"><button class="dropdownUser" type="submit">
                            Wyloguj się</button></a>
                </form>
            </div>
        </div>
    </div>
</nav>