<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Gotuj z nami</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.js"></script>


  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  {{> partial4 }}
  <form action="/save" method="post" class="loginForm addHeight addRecipeForm" enctype="multipart/form-data">
    <h4 class="textCenter">Dodawanie przepisu</h4> <br>
    {{#if good}}<div class="goodMessage">
      <p>{{ good }}</p>
    </div>{{/if}}
    Nazwa przepisu: <br>
    {{#if messageName}}<div class="errorMessage">
      <p>{{ messageName }}</p>
    </div>{{/if}}
    <label class="sr-only" id="inlineFormInputGroupUsername2">Nazwa przepisu</label>
    <div class="input-group mb-2 mr-sm-2">
      <input id="ckeExample0" type="text" name="nazwa" class="form-control " placeholder="Podaj nazwę przepisu">
    </div>


    <br> Składniki: <br>
    {{#if messageIngredients}}<div class="errorMessage">
      <p>{{ messageIngredients }}</p>
    </div>{{/if}}
    <textarea cols="80" rows="10" id="ckeExample" name="skladniki" placeholder="Wymień składniki" required>

</textarea>

    <br> Sposób przygotowania: <br>
    {{#if messagePrepare}}<div class="errorMessage">
      <p>{{ messagePrepare }}</p>
    </div>{{/if}}
    <textarea cols="80" rows="10" id="ckeExample2" name="przygotowanie" class="form-control inputComponentsAndPreparing"
      placeholder="Podaj nazwę przepisu">

</textarea>

    <br><label>Wybierz zdjęcia dania.</label><br>
    {{#if messagePhoto}}<div class="errorMessage">
      <p>{{ messagePhoto }}</p>
    </div>{{/if}}
    <div class="custom-file file-field input-field">

      <input type="file" name="myImages" class="custom-file-input" id="customFiles" multiple>

      <label class="custom-file-label" for="customFiles">Wybierz pliki</label>
    </div> <br>


    <br> <label>Wybierz kategorię, do której zalicza się przepis. </label><br>
    {{#if messageCategory}}<div class="errorMessage">
      <p>{{ messageCategory }}</p>
    </div>{{/if}}
    <div class="form-group">
      <select id="select" class="custom-select" name="kategoria">
        <option value="">Wybierz kategorię</option>
        <option value="Dania i przekąski">Dania i przekąski</option>
        <option value="Ciasta">Ciasta</option>
        <option value="Lody i napoje">Lody i napoje</option>
        <option value="Wege">Wege</option>
        <option value="Kuchnie świata">Kuchnie świata</option>
      </select>
      <div class="invalid-feedback red">Musisz wybrać kategorię do jakiej zalicza się danie! </div>
    </div>


    <input type="submit" class="btn btn-warning addBtn" value="Dodaj przepis" onclick="return sprawdz();" />

  </form>
  <br><br>
  {{> partial1 }}
  <script>
    var ckEditorID;

    ckEditorID = 'ckeExample';

    CKEDITOR.config.forcePasteAsPlainText = true;

    CKEDITOR.replace(ckEditorID,
      {
        toolbar:
          [
            {
              items: ['Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat']
            },
            {
              items: ['Format']
            },
            {
              items: ['Link', 'Unlink']
            },
            {
              items: ['Indent', 'Outdent', '-', 'BulletedList', 'NumberedList']
            },
            {
              items: ['Undo', 'Redo']
            }
          ]

      })
  </script>
  <script>
    var ckEditorID;

    ckEditorID = 'ckeExample2';

    CKEDITOR.config.forcePasteAsPlainText = true;
    CKEDITOR.replace(ckEditorID,
      {
        toolbar:
          [
            {
              items: ['Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat']
            },
            {
              items: ['Format']
            },
            {
              items: ['Link', 'Unlink']
            },
            {
              items: ['Indent', 'Outdent', '-', 'BulletedList', 'NumberedList']
            },
            {
              items: ['Undo', 'Redo']
            }
          ]
      })
  </script>
 
</body>

</html>