<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
 
   
</head>

<body>
{{> partial5}}
    <form action="/login" method="get" class="loginForm">
    <h4 class="textCenter">Zaloguj się</h4> <br>
    {{#if message}}<div class="errorMessage">
      <p>{{ message }}</p>
    </div>{{/if}}
        Nazwa użytkownika: <br>
        <label class="sr-only" for="inlineFormInputGroupUsername2">Nazwa użytkownika</label>
        <div class="input-group mb-2 mr-sm-2">
       
            <input type="text" name="username" class="form-control" id="inlineFormInputGroupUsername2"
                placeholder="Podaj nazwę użytkownika" required>
        </div>


        Hasło: <br><input type="password" name="password" id="inputPassword5" class="form-control"
            aria-describedby="passwordHelpBlock"  placeholder="******"><small id="passwordHelpBlock" class="form-text text-muted" required>
        </small> <br>
       
       
        <input type="submit" class="btn btn-warning LoginBtn" value="Zaloguj się" />
    </form>

  <br><br>
  {{> partial1 }}


</body>

</html>