<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Gotuj z nami</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.js"></script>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> partial4 }}
  <main class="mainAll">
    {{!-- -----------------------------Delete Product Modal---------------------------------------- --}}

    <div class="modal fade" id="DeleteImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Usuwanie zdjęcia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Na pewno chcesz usunąć ten element?</strong>
            <div class="photoToDel"></div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="form-control id2" required>
            <input type="hidden" name="" class="form-control element" required>
            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-warning deleteThisImg">Usuń</button>
          </div>
        </div>
      </div>
    </div>
    {{!-- -----------------------------Change Img Product Modal---------------------------------------- --}}

    <div class="modal fade" id="changeImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Zmiana zdjęcia głównego</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Na pewno chcesz ustawić to zdjęcie jako zdjęcie główne?</strong>
            <div class="photoToChange"></div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="" class="form-control element" required>
            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-warning changeThisImg">Zapisz</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="loginForm heightEdit  addRecipeForm">
    {{#if messageName}}<div class="errorMessage">
        <p>{{ messageName }}</p>
      </div>{{/if}}
       {{#if messageIngredients}}<div class="errorMessage">
        <p>{{ messageIngredients }}</p>
      </div>{{/if}}
       {{#if messagePrepare}}<div class="errorMessage">
        <p>{{ messagePrepare }}</p>
      </div>{{/if}}
       {{#if messageCategory}}<div class="errorMessage">
        <p>{{ messageCategory }}</p>
      </div>{{/if}}
    {{#each results}}
    <form action="/update" method="get">
      <h4 class="textCenter">Edycja przepisu</h4> <br>
      Nazwa przepisu: <br>
      {{#if messageName}}<div class="errorMessage">
        <p>{{ messageName }}</p>
      </div>{{/if}}
      <label class="sr-only" id="inlineFormInputGroupUsername2">Nazwa przepisu</label>
      <div class="input-group mb-2 mr-sm-2">
        <input type="text" name="nazwa" class="form-control" id="inlineFormInputGroupUsername1"
          placeholder="Podaj nazwę przepisu" value="{{nazwa}}">
      </div>

      Składniki: <br>
      {{#if messageIngredients}}<div class="errorMessage">
        <p>{{ messageIngredients }}</p>
      </div>{{/if}}
      <textarea id="ckeExample" name="skladniki" class="form-control inputComponentsAndPreparing">
{{skladniki}}
</textarea>
      <br>

      Sposób przygotowania: <br>
      {{#if messagePrepare}}<div class="errorMessage">
        <p>{{ messagePrepare }}</p>
      </div>{{/if}}
      <textarea cols="80" rows="10" id="ckeExample2" name="przygotowanie"
        class="form-control inputComponentsAndPreparing" placeholder="Podaj nazwę przepisu" readonly>
{{przygotowanie}}
</textarea>
      <br>

      <br>
      Kategoria:
      {{#if messageCategory}}<div class="errorMessage">
        <p>{{ messageCategory }}</p>
      </div>{{/if}}
      <div class="form-group">
        <select class="custom-select" name="kategoria">
          <option value="{{kategoria}}">{{kategoria}}</option>
          <option value="Dania i przekąski">Dania i przekąski</option>
          <option value="Ciasta">Ciasta</option>
          <option value="Lody i napoje">Lody i napoje</option>
          <option value="Wege">Wege</option>
          <option value="Kuchnie świata">Kuchnie świata</option>
        </select>
        <div class="invalid-feedback red">Musisz wybrać kategorię do jakiej zalicza się danie! </div>
      </div>
      <input type="submit" class="btn btn-warning saveEdit" value="Zapisz zmiany" />
      <br><br><br>
    </form>
    <hr>

    <h4 class="textCenter">Edycja zdjęć przepisu</h4> <br>
    <input class="id photos" value="{{photos}}">
    <br>
    <div class="containerPhoto"></div>
    <br>
    <br>
    Dodaj nowe zdjęcia:
    <br>
    <form id="updatePhotos" method="post" action="/saveEditImg" enctype="multipart/form-data">
      <div class="custom-file file-field input-field">
        <input type="file" name="myImages" class="custom-file-input" id="customFiles" multiple required>
        <label class="custom-file-label" for="customFiles">Wybierz pliki</label>
      </div>
      <br> <br> <br>
      <input type="submit" class="btn btn-warning saveImgEdit" id="saveImgEdit" value="Dodaj zdjęcia" />
  </div>
  <br> <br> <br>
  </form>
  <br> <br>
    {{> partial1 }}

  {{/each}}
  <script>
    let photos = [];
    let str = $(".photos").val();
    photos = str.split(",");
    photos.forEach(function (el, i) {
      $(".containerPhoto").append("<div class='editImgContainer'><img src='../uploads/" + el + "' onclick='del(" + i + ")' style='width:30%; position: relative;' class='editImg' alt='zdjęcie potrawy'>  <button class='editImgBtn' onclick='del(" + i + ")'> Usuń </button><button  class='editImgBtn' onclick='mainImg(" + i + ")'> Ustaw jako zdjęcie główne </button></div><hr>");
    });
    function mainImg(i) {
      $('#changeImgModal').modal('show');
      $('.element').val(i);
      $(".photoToChange").append("<img src='../uploads/" + photos[i] + "'  style='width:40%; margin-left: 25%;' class='editImg' alt='zdjęcie potrawy'> ");

    }
    function del(i) {
      var id = $(this).data('id');
      $('#DeleteImgModal').modal('show');
      $('.element').val(i);
      $(".photoToDel").append("<img src='../uploads/" + photos[i] + "'  style='width:40%; margin-left: 25%;' class='editImg' alt='zdjęcie potrawy'> ");

    }
  </script>
  <script>
    $(document).ready(function () {
      $('#changeImgModal').on('click', '.changeThisImg', function () {
        var element = $('.element').val();
        let photo = photos[element];
        $.ajax({
          type: 'GET',
          url: '/changeMainPhoto',
          data: { photo },
          succes: function (response) {
          }
        });
        $('#changeImgModal').modal('hide');
        $('#changeImgLabel').css("visibility", "visible");
        $(".photoToChange").html("");

      });

      $('#saveImgEdit').on('click', function () {
        location.reload();
      })
      $('#DeleteImgModal').on('click', '.deleteThisImg', function () {
        var element = $('.element').val();
        var arr = photos.splice(element, 1);

        if (arr) {
          $.ajax({
            type: 'GET',
            url: '/deleteImg',
            data: { photos },
            succes: function (response) {
            }
          });
          $(".photoToDel").html("");
          location.reload();
        }
      });
    });
  </script>
  <script>
    var ckEditorID;

    ckEditorID = 'ckeExample';

    function fnConsolePrint() {
      console.log(CKEDITOR.instances[ckEditorID].getData());
    }
    CKEDITOR.config.forcePasteAsPlainText = true;
    CKEDITOR.replace(ckEditorID,
      {
        toolbar:
          [
            {
              items: ['Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat']
            },
            {
              items: ['Format']
            },
            {
              items: ['Link', 'Unlink']
            },
            {
              items: ['Indent', 'Outdent', '-', 'BulletedList', 'NumberedList']
            },
            {
              items: ['Undo', 'Redo']
            }
          ]
      })
  </script>
  <script>
    var ckEditorID;

    ckEditorID = 'ckeExample2';

    function fnConsolePrint() {
      console.log(CKEDITOR.instances[ckEditorID].getData());
    }
    CKEDITOR.config.forcePasteAsPlainText = true;
    CKEDITOR.replace(ckEditorID,
      {
        toolbar:
          [
            {
              items: ['Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat']
            },
            {
              items: ['Format']
            },
            {
              items: ['Link', 'Unlink']
            },
            {
              items: ['Indent', 'Outdent', '-', 'BulletedList', 'NumberedList']
            },
            {
              items: ['Undo', 'Redo']
            }
          ]
      })
  </script>
</body>

</html>