<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gotuj z nami</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> partial4 }}
    {{#each results}}
    <form action="/updateUser" method="get" class="loginForm heightEditUser addRecipeForm">
        <h4 class="textCenter">Edycja konta użytkownika</h4> <br>
        Login: <br>
        <label class="sr-only" id="inlineFormInputGroupUsername2">Login</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" name="username" class="form-control" id="inlineFormInputGroupUsername1"
                placeholder="Podaj login" value="{{username}}" required disabled>
        </div>
        Hasło: <br>
        <label class="sr-only" id="inlineFormInputGroupUsername2">Hasło</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="password" name="password" class="form-control" id="inlineFormInputGroupUsername1"
                placeholder="Podaj haslo" value="{{password}}" required>
        </div>
         Powtórz hasło: <br>
        <label class="sr-only" id="inlineFormInputGroupUsername2">Hasło</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="password" name="password2" class="form-control" id="inlineFormInputGroupUsername1"
                placeholder="Powtorz haslo" value="{{password}}" required>
        </div><br>
        {{#if ../message}}
        <div class="errorMessage"> 
            <p>{{ ../message}}</p>
        </div>
        {{/if}}
        E-mail: <br>
        <label class="sr-only" id="inlineFormInputGroupUsername2">E-mail</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="email" name="email" class="form-control" id="inlineFormInputGroupUsername1"
                placeholder="Podaj email" value="{{email}}" required disabled>
        </div>
          <input type="submit" class="btn btn-warning saveEdit" value="Zapisz zmiany" />
    </form>
    {{/each}}

    <br><br>
      {{> partial1 }}

</body>

</html>