<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gotuj z nami</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <p id='headerText'>Gotuj z nami - aplikacja kulinarna</p>
    </header>

    {{> partial4 }}
          {{!-- -----------------------------Del Modal---------------------------------------- --}}
        <form action="/deletefavourite" method="get">
            <div class="modal fade" id="DelMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Usuwanie z ulubionych</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <strong>Czy na pewno chcesz usunąć?</strong> <br><br>

                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="id" class="form-control id2" required>
                            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-warning DelMenuModalBtn">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{!-- ------------ --}}
    <main class="mainAll">
        <br>
        <h1 class="textCenter">Ulubione</h1> <br>
        <div id="containerRecipesList">
            {{#each results}}
            <ul class='listRecipes'>
                <li><span class="id"> {{ id_recipe }}</span>
                </li>
               <li class='list_title' name="nazwa">
                  <form action="/recipe" method="get">
                  <button type="submit" class="SeeMoreButton SeeMoreButtonH" data-id="{{ id_recipe }}">{{ nazwa }}</button>
                </form>
                </li>
                  <li>
                    <br>
                    <form action="/recipe" method="get">
                        <button type="submit" class="SeeMoreButton" data-id="{{ id_recipe }}"> 
                            <img class="recipePhoto" src="../uploads/{{photo}}" alt="zdjęcie potrawy">
                                </button>
                    </form>
                </li>

                <hr class="hrRecipe">
                <li class="bottom">
                    <div class='list_description' name="kategoria">{{ id_user }}Kategoria: {{ kategoria }} </div>
                    <div class='buttonsDelAndEditTd'>
                        <br>
                           <input type="hidden" name="id" value="{{id_fav}}">
                        
                        <button class='favouriteBtn favourite deletefavourite btn'
                            data-user-id="{{ ../id_user }}" data-id="{{ id_fav }}">Usuń z ulubionych ♥</button></div>
                </li>
            </ul>
            {{/each}}
        </div>
    </main>
    <div>
        <div id="pagination-container"></div>
    </div>
      {{> partial1 }}

    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.simplePagination.js"></script>

    <script>
        $(document).ready(function () {

            var items = $("#containerRecipesList .listRecipes");
            var numItems = items.length;
            var perPage = 8;

            if (numItems > perPage) {
                items.slice(perPage).hide();

                $('#pagination-container').pagination({
                    items: numItems,
                    itemsOnPage: perPage,
                    prevText: "&laquo;",
                    nextText: "&raquo;",
                    onPageClick: function (pageNumber) {
                        var showFrom = perPage * (pageNumber - 1);
                        var showTo = showFrom + perPage;
                        items.hide().slice(showFrom, showTo).show();
                        window.scrollTo(0, 330);
                    }
                });
            }
         
            //see more
            $('#containerRecipesList').on('click', '.SeeMoreButton', function () {
                var id = $(this).data('id');
                $.ajax({
                    type: 'GET',
                    url: '/recipe',
                    data: { id },
                    succes: function (response) {

                    }
                });
            });


      $('.deletefavourite').on('click', function () { 
                var id = $(this).data('id');
                $('#DelMenuModal').modal('show');
                $('.id2').val(id);
            });
           

        }); 
    </script>
</body>

</html>