{{#if user}}
{{> partial4 }}
{{else}}
{{> partial5 }}
{{/if}}

{{> partial}}


{{#each kategoria}}
<h1 class="categoryH5">
  {{#if searched}}{{ searched }}{{else}}Kategoria:{{/if}} {{kategoria}}

</h1>
{{/each}}
<h4 class="categoryH5">

  {{#if searched}} Wyszukano: {{ searched }}{{/if}}
  {{#if antyskladniki}} Wyszukano z wyjątkiem: {{ antyskladniki }}{{/if}}
  {{#if kategoriaWyszukiwania}} Kategoria: {{ kategoriaWyszukiwania }}{{else}}{{/if}}

</h4>

<main class="mainAll">
  {{!-- -----------------------------Del Modal---------------------------------------- --}}
  <form action="/deletefavourite" method="get">
    <div class="modal fade" id="DelMenuModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Usuwanie z ulubionych</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Czy na pewno chcesz usunąć?</strong> <br><br>

          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="form-control id2" required>
            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
            <button type="submit" class="btn btn-warning DelMenuModalBtn">Usuń</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {{!-- ------------ --}}
  <div id="containerRecipesList">
    {{#each results}}
    <ul class='listRecipes'>
      <li><span class="id"> {{ id }}</span>
      </li>
      <li class='list_title' name="nazwa">
        <form action="/recipe" method="get">
          <button type="submit" class="SeeMoreButton SeeMoreButtonH" data-id="{{ id }}">{{ nazwa }}</button>
        </form>

      </li>
      <li>
        <br>
        <form action="/recipe" method="get">
          <button type="submit" class="SeeMoreButton" data-id="{{ id }}"> <img class="recipePhoto"
              src="../uploads/{{photo}}" alt="zdjęcie potrawy"></button>
        </form>
      </li>
      <hr class="hrRecipe">
      <li class="bottom">
        <div class='list_description' name="kategoria">Kategoria: {{ kategoria }} </div>
        <div class='buttonsDelAndEditTd'>
          <br>
          {{#if ../user}}
          <button class='like' data-id="{{ id }}">👍{{ likes }}</button>
          <button class='dislike' data-id="{{ id }}">👎{{ dislikes }}</button>
          <br>
          <br>
          {{#if id_fav}}
          <input type="hidden" name="id" value="{{id_fav}}">
          <button class='favouriteBtn  deletefavourite btn' data-user-id="{{ ../id_user }}" data-id="{{ id_fav }}">Usuń
            z ulubionych ♥</button>
          {{else}}
          <button class='favouriteBtn favourite btn ' data-user-id="{{ ../id_user }}" data-id="{{ id }}">Dodaj do
            ulubionych ♥</button>
        </div>
        {{/if}}

        {{else}}
        👍{{ likes }}
        👎{{ dislikes }}

        {{/if}}

      </li>
    </ul>

    {{/each}}

  </div>
</main>
{{> partial3 }}
{{> partial1 }}

<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.simplePagination.js"></script>
<script>
  $(document).ready(function () {

    var items = $("#containerRecipesList .listRecipes");
    var numItems = items.length;
    var perPage = 8;
    if (numItems > perPage) {
      items.slice(perPage).hide();

      $('#pagination-container').pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "&laquo;",
        nextText: "&raquo;",
        onPageClick: function (pageNumber) {
          var showFrom = perPage * (pageNumber - 1);
          var showTo = showFrom + perPage;
          items.hide().slice(showFrom, showTo).show();
          window.scrollTo(0, 330);
        }
      });
    }

    //likes
    $('#dropMenuNav').on('click', '.dropdown-item', function () {

      var kategoria = $(this).val();


      if (kategoria) {
        $.ajax({
          type: 'GET',
          url: '/',
          data: { kategoria },
          succes: function (response) {

          }
        });
      }
      location.reload();
    });


    //likes
    $('#containerRecipesList').on('click', '.like', function () {
      var id = $(this).data('id');
      if (id) {
        $.ajax({
          type: 'GET',
          url: '/likes',
          data: { id },
          succes: function (response) {
            location.reload();

          }
        });
      }
      location.reload();

    });

    //dislikes
    $('#containerRecipesList').on('click', '.dislike', function () {
      var id = $(this).data('id');
      if (id) {
        $.ajax({
          type: 'GET',
          url: '/dislikes',
          data: { id },
          succes: function (response) {
            location.reload();

          }
        });
      }
      location.reload();
    });
    //see more
    $('#containerRecipesList').on('click', '.SeeMoreButton', function () {
      var id = $(this).data('id');
      $.ajax({
        type: 'GET',
        url: '/recipe',
        data: { id },
        succes: function (response) {

        }
      });
    });

    //favourite ZMIANA
    $('.favourite').on('click', function () {
      var userId = $(this).data('userId');
      var id = $(this).data('id');
      location.reload();
      if (id) {
        $.ajax({
          type: 'GET',
          url: '/favourites',
          data: { id, userId },
          succes: function (response) {

          }
        });
      }
    });
    $('.deletefavourite').on('click', function () {
      var id = $(this).data('id');
      $('#DelMenuModal2').modal('show');
      $('.id2').val(id);

    });
  }); 
</script>