<!doctype html>

<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel='stylesheet' href='/css/style.css'>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
  
</head>

<body>
  
  {{{body}}}

 </body></html>