<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gotuj z nami</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <p id='headerText'>Gotuj z nami - aplikacja kulinarna</p>
    </header>

    {{> partial4 }}

    {{!-- -----------------------------Del Modal---------------------------------------- --}}
    <form action="/deleteMenuItem" method="get">
        <div class="modal fade" id="DelMenuItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Usuwanie potrawy z jadłospisu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Czy na pewno chcesz usunąć?</strong> <br><br>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="form-control id2" required>
                        <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-warning DelMenuItemModalBtn">Usuń</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{!-- ------------ --}}
    {{!-- -----------------------------Add Modal---------------------------------------- --}}
    <form action="/addToMenuItem2" method="get">
        <div class="modal fade" id="AddMenuItemModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Dodawanie do jadłospisu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Wybierz potrawę, którą chcesz dodać </strong> <br><br>
                        <div class="form-group">
                            <select class="custom-select" name="id_menu" required>
                                {{#each recipe}}
                                <option value="{{id}}">{{nazwa}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="day" class="form-control day2" required>
                        <input type="hidden" name="type" class="form-control type2" required>
                        <input type="hidden" name="id" class="form-control id2" required>
                        <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-warning AddMenuItemModalBtn">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{!-- ------------ --}}

    <br><br>

    <h4 class="textCenter">Jadłospis: {{menuName}}</h4>
    <input type="hidden" value="{{menuId}}" class="idMenu">

 

    <br><br><br>
    <main class="mainAll">
        <div class="day monday">
            <h3 class="daysh3">Poniedziałek</h3>

            <h5 class="mealh5">Śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each poniedzialek}}
                {{#ifvalue type value="Śniadanie"}}
                {{> partial2 }}
                
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Śniadanie" data-day="Poniedziałek">+</div>
            </div>
            <h5 class="mealh5">II śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each poniedzialek}} 
                {{#ifvalue type value="II śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="II śniadanie" data-day="Poniedziałek">+</div>
            </div>
            <h5 class="mealh5">Lunch</h5>
            <div class="containerRecipesListMenu">
                {{#each poniedzialek}}
                {{#ifvalue type value="Lunch"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Lunch" data-day="Poniedziałek">+</div>
            </div>
            <h5 class="mealh5">Obiad</h5>
            <div class="containerRecipesListMenu">
                {{#each poniedzialek}}
                {{#ifvalue type value="Obiad"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Obiad" data-day="Poniedziałek">+</div>
            </div>
            <h5 class="mealh5">Przekąska</h5>
            <div class="containerRecipesListMenu">
                {{#each poniedzialek}}
                {{#ifvalue type value="Przekąska"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Przekąska" data-day="Poniedziałek">+</div>
            </div>

            <h5 class="mealh5">Kolacja</h5>
            <div class="containerRecipesListMenu">
                {{#each poniedzialek}}
                {{#ifvalue type value="Kolacja"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Kolacja" data-day="Poniedziałek">+</div>
            </div>
        </div>
        <div class="day tuesday">
            <h3 class="daysh3">Wtorek</h3>
            <h5 class="mealh5">Śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each wtorek}}
                {{#ifvalue type value="Śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Śniadanie" data-day="Wtorek">+</div>
            </div>
            <h5 class="mealh5">II śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each wtorek}}
                {{#ifvalue type value="II śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="II śniadanie" data-day="Wtorek">+</div>
            </div>
            <h5 class="mealh5">Lunch</h5>
            <div class="containerRecipesListMenu">
                {{#each wtorek}}
                {{#ifvalue type value="Lunch"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Lunch" data-day="Wtorek">+</div>
            </div>
            <h5 class="mealh5">Obiad</h5>
            <div class="containerRecipesListMenu">
                {{#each wtorek}}
                {{#ifvalue type value="Obiad"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Obiad" data-day="Wtorek">+</div>
            </div>
            <h5 class="mealh5">Przekąska</h5>
            <div class="containerRecipesListMenu">
                {{#each wtorek}}
                {{#ifvalue type value="Przekąska"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Przekąska" data-day="Wtorek">+</div>
            </div>
            <h5 class="mealh5">Kolacja</h5>
            <div class="containerRecipesListMenu">
                {{#each wtorek}}
                {{#ifvalue type value="Kolacja"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Kolacja" data-day="Wtorek">+</div>
            </div>
        </div>
        <div class="day wednesday">
            <h3 class="daysh3">Środa</h3>
            <h5 class="mealh5">Śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each sroda}}
                {{#ifvalue type value="Śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Śniadanie" data-day="Środa">+</div>
            </div>
            <h5 class="mealh5">II śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each sroda}}
                {{#ifvalue type value="II śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="II śniadanie" data-day="Środa">+</div>
            </div>
            <h5 class="mealh5">Lunch</h5>
            <div class="containerRecipesListMenu">
                {{#each sroda}}
                {{#ifvalue type value="Lunch"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Lunch" data-day="Środa">+</div>
            </div>
            <h5 class="mealh5">Obiad</h5>
            <div class="containerRecipesListMenu">
                {{#each sroda}}
                {{#ifvalue type value="Obiad"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Obiad" data-day="Środa">+</div>
            </div>
            <h5 class="mealh5">Przekąska</h5>
            <div class="containerRecipesListMenu">
                {{#each sroda}}
                {{#ifvalue type value="Przekąska"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Przekąska" data-day="Środa">+</div>
            </div>
            <h5 class="mealh5">Kolacja</h5>
            <div class="containerRecipesListMenu">
                {{#each sroda}}
                {{#ifvalue type value="Kolacja"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Kolacja" data-day="Środa">+</div>
            </div>
        </div>
        <div class="day thursday">
            <h3 class="daysh3">Czwartek</h3>
            <h5 class="mealh5">Śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each czwartek}}
                {{#ifvalue type value="Śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Śniadanie" data-day="Czwartek">+</div>
            </div>
            <h5 class="mealh5">II śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each czwartek}}
                {{#ifvalue type value="II śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="II śniadanie" data-day="Czwartek">+</div>
            </div>
            <h5 class="mealh5">Lunch</h5>
            <div class="containerRecipesListMenu">
                {{#each czwartek}}
                {{#ifvalue type value="Lunch"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Lunch" data-day="Czwartek">+</div>
            </div>
            <h5 class="mealh5">Obiad</h5>
            <div class="containerRecipesListMenu">
                {{#each czwartek}}
                {{#ifvalue type value="Obiad"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Obiad" data-day="Czwartek">+</div>
            </div>
            <h5 class="mealh5">Przekąska</h5>
            <div class="containerRecipesListMenu">
                {{#each czwartek}}
                {{#ifvalue type value="Przekąska"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Przekąska" data-day="Czwartek">+</div>
            </div>
            <h5 class="mealh5">Kolacja</h5>
            <div class="containerRecipesListMenu">
                {{#each czwartek}}
                {{#ifvalue type value="Kolacja"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Kolacja" data-day="Czwartek">+</div>
            </div>
        </div>
        <div class="day friday">
            <h3 class="daysh3">Piątek</h3>
            <h5 class="mealh5">Śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each piatek}}
                {{#ifvalue type value="Śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Śniadanie" data-day="Piątek">+</div>
            </div>
            <h5 class="mealh5">II śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each piatek}}
                {{#ifvalue type value="II śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="II śniadanie" data-day="Piątek">+</div>
            </div>
            <h5 class="mealh5">Lunch</h5>
            <div class="containerRecipesListMenu">
                {{#each piatek}}
                {{#ifvalue type value="Lunch"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Lunch" data-day="Piątek">+</div>
            </div>
            <h5 class="mealh5">Obiad</h5>
            <div class="containerRecipesListMenu">
                {{#each piatek}}
                {{#ifvalue type value="Obiad"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Obiad" data-day="Piątek">+</div>
            </div>
            <h5 class="mealh5">Przekąska</h5>
            <div class="containerRecipesListMenu">
                {{#each piatek}}
                {{#ifvalue type value="Przekąska"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Przekąska" data-day="Piątek">+</div>
            </div>
            <h5 class="mealh5">Kolacja</h5>
            <div class="containerRecipesListMenu">
                {{#each piatek}}
                {{#ifvalue type value="Kolacja"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Kolacja" data-day="Piątek">+</div>
            </div>
        </div>
        <div class="day saturday">
            <h3 class="daysh3">Sobota</h3>
            <h5 class="mealh5">Śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each sobota}}
                {{#ifvalue type value="Śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Śniadanie" data-day="Sobota">+</div>
            </div>
            <h5 class="mealh5">II śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each sobota}}
                {{#ifvalue type value="II śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="II śniadanie" data-day="Sobota">+</div>
            </div>
            <h5 class="mealh5">Lunch</h5>
            <div class="containerRecipesListMenu">
                {{#each sobota}}
                {{#ifvalue type value="Lunch"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Lunch" data-day="Sobota">+</div>
            </div>
            <h5 class="mealh5">Obiad</h5>
            <div class="containerRecipesListMenu">
                {{#each sobota}}
                {{#ifvalue type value="Obiad"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Obiad" data-day="Sobota">+</div>
            </div>
            <h5 class="mealh5">Przekąska</h5>
            <div class="containerRecipesListMenu">
                {{#each sobota}}
                {{#ifvalue type value="Przekąska"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Przekąska" data-day="Sobota">+</div>
            </div>
            <h5 class="mealh5">Kolacja</h5>
            <div class="containerRecipesListMenu">
                {{#each sobota}}
                {{#ifvalue type value="Kolacja"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Kolacja" data-day="Sobota">+</div>
            </div>
        </div>
        <div class="day sunday">
            <h3 class="daysh3">Niedziela</h3>
            <h5 class="mealh5">Śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each niedziela}}
                {{#ifvalue type value="Śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Śniadanie" data-day="Niedziela">+</div>
            </div>
            <h5 class="mealh5">II śniadanie</h5>
            <div class="containerRecipesListMenu">
                {{#each niedziela}}
                {{#ifvalue type value="II śniadanie"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="II śniadanie" data-day="Niedziela">+</div>
            </div>
            <h5 class="mealh5">Lunch</h5>
            <div class="containerRecipesListMenu">
                {{#each niedziela}}
                {{#ifvalue type value="Lunch"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Lunch" data-day="Niedziela">+</div>
            </div>
            <h5 class="mealh5">Obiad</h5>
            <div class="containerRecipesListMenu">
                {{#each niedziela}}
                {{#ifvalue type value="Obiad"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Obiad" data-day="Niedziela">+</div>
            </div>
            <h5 class="mealh5">Przekąska</h5>
            <div class="containerRecipesListMenu">
                {{#each niedziela}}
                {{#ifvalue type value="Przekąska"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Przekąska" data-day="Niedziela">+</div>
            </div>
            <h5 class="mealh5">Kolacja</h5>
            <div class="containerRecipesListMenu">
                {{#each niedziela}}
                {{#ifvalue type value="Kolacja"}}
                {{> partial2 }}
                {{/ifvalue}}
                {{/each}}
                <div class="more" data-type="Kolacja" data-day="Niedziela">+</div>
            </div>
        </div>
    </main>
  {{> partial1 }}

    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.simplePagination.js"></script>
    <script>
        $(document).ready(function () {
            var d = new Date();
            var days = ["Niedziela", "Poniedzialek", "Wtorek", "Sroda", "Czwartek", "Piatek", "Sobota"];
            var today = days[d.getDay()];
            if (today == "Wtorek") {
                $(".day.monday").insertAfter(".day.sunday");
            }
            if (today == "Sroda") {
                $(".day.tuesday").insertAfter(".day.sunday");
                $(".day.monday").insertAfter(".day.sunday");
            }
            if (today == "Czwartek") {
                $(".day.wednesday").insertAfter(".day.sunday");
                $(".day.tuesday").insertAfter(".day.sunday");
                $(".day.monday").insertAfter(".day.sunday");
            }
            if (today == "Piatek") {
                $(".day.thursday").insertAfter(".day.sunday");
                $(".day.wednesday").insertAfter(".day.sunday");
                $(".day.tuesday").insertAfter(".day.sunday");
                $(".day.monday").insertAfter(".day.sunday");
            }
            if (today == "Sobota") {
                $(".day.friday").insertAfter(".day.sunday");
                $(".day.thursday").insertAfter(".day.sunday");
                $(".day.wednesday").insertAfter(".day.sunday");
                $(".day.tuesday").insertAfter(".day.sunday");
                $(".day.monday").insertAfter(".day.sunday");
            }
            if (today == "Niedziela") {
                $(".day.saturday").insertAfter(".day.sunday");
                $(".day.friday").insertAfter(".day.sunday");
                $(".day.thursday").insertAfter(".day.sunday");
                $(".day.wednesday").insertAfter(".day.sunday");
                $(".day.tuesday").insertAfter(".day.sunday");
                $(".day.monday").insertAfter(".day.sunday");
            }
            ;
            //alert(today)
            $('.more').on('click', function () {
                var id = $(".idMenu").val();
                var type = $(this).data('type');
                var day = $(this).data('day');
                $('#AddMenuItemModal2').modal('show');
                $('.id2').val(id);
                $('.type2').val(type);
                $('.day2').val(day);
            });
            //delete item
            $('.bottom').on('click', '.deleteMenuItemBtn', function () {
                var id = $(this).data('id');
                $('#DelMenuItemModal').modal('show');
                $('.id2').val(id);
            });

            //see more
            $('.containerRecipesListMenu').on('click', '.SeeMoreButton', function () {
                var id = $(this).data('id');
                $.ajax({
                    type: 'GET',
                    url: '/recipe',
                    data: { id },
                    succes: function (response) {

                    }
                });
            });



        }); 
    </script>
</body>

</html>