<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gotuj z nami</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
            margin-left: 5%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: rgba(240, 172, 78, 0.226);
        }
    </style>
</head>

<body>
    <header>
        <p id='headerText'>Gotuj z nami - aplikacja kulinarna</p>
    </header>

    {{> partial4 }}
    <br>
    <main class="mainAll">
        {{!-- -----------------------------Add Modal---------------------------------------- --}}
        <form action="/addToMenu" method="get">
            <div class="modal fade" id="AddMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Tworzenie jadłospisu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <strong>Podaj nazwę nowego jadłospisu</strong> <br><br>
                            <input type="text" name="name" class="form-control"
                                placeholder="Podaj nazwę nowego jadłospisu" required>

                            <br> <strong>Wybierz typ jadłospisu. </strong><br><br>
                            <div class="form-group">
                                <select id="select" class="custom-select" name="access" required>
                                    <option value="public">Publiczny</option>
                                    <option value="private">Prywatny</option>
                                </select>
                                <div class="invalid-feedback red">Musisz wybrać kategorię do jakiej zalicza się danie!
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-warning AddMenuModalBtn">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{!-- -----------------------------Del Modal---------------------------------------- --}}
        <form action="/deleteMenu" method="get">
            <div class="modal fade" id="DelMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Usuwanie jadłospisu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <strong>Czy na pewno chcesz usunąć?</strong> <br><br>

                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="id" class="form-control id2" required>
                            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-warning DelMenuModalBtn">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{!-- ------------ --}}
        {{!-- -----------------------------Edit Modal---------------------------------------- --}}
        <form action="/editMenu" method="get">
            <div class="modal fade" id="EditMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Edytowanie jadłospisu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <strong>Podaj nową nazwę</strong> <br><br>
                            <input type="text" name="name" class="form-control nameInput"
                                placeholder="Podaj nową nazwę jadłospisu" required>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="id" class="form-control id2" required>
                            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-warning EditMenuModalBtn">Zapisz</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        

        <h1 class="textCenter">Jadłospisy</h1> <br>
         {{#if searched}}<h4  class="textCenter" > Wyszukano: {{ searched }}</h4>{{/if}}
          {{#if empty}}<h4  class="textCenter" >BRAK</h4>  
           {{else}}
        <div id="menuBtn">
            <button id="addNewMenu" class='btn btn-warning'>Dodaj jadłospis</button>
        </div>
        <br><br><br>
        <table id="allUsersMenuTable">
            <tr>
              
                <th>Nazwa</th>
                <th>Autor</th>
                <th class="smallerTh">Edytuj</th>
                <th class="smallerTh">Usuń</th>
            </tr>
            {{#each menu}}
            <tr>
                
                <td class="tdName">
                    {{#if access}}
                    <form action="openMenuItem" method="GET">
                        <input type="hidden" name="id_menu" value="{{id_menu}}">
                        <input type="hidden" name="name" value="{{name}}">
                   <div class="tdName">  
                        <input type="image" class="recipePhoto" src="../uploads/{{ photo }}" border="0"  data-id_menu="{{ id_menu }}" data-name="{{ name }}" >
                        <input type="submit" class="goToMenuItem" data-id_menu="{{ id_menu }}" data-name="{{ name }}"
                            value="{{name}}"></div> 
                    </form>
                    {{else}}
                    <div class="tdName">
                  <img class="recipePhoto"
                                src="../uploads/{{photo}}" alt="zdjęcie potrawy">
                    <input type="submit" class="dontGoToMenuItem" value=" {{name}}">
</div>
                    {{/if}}
                </td>
                <td>{{username}}</td>
                <td class="textCenter editMenu">
                    {{#if access}}
                    <input type="submit" class="editThisMenuOpenModal" data-id_menu="{{ id_menu }}"
                        data-name="{{ name }}" value="🖊️ Edytuj">
                    {{else}}
                    <input type="submit" class="noBtn" value="Brak dostępu">
                    {{/if}}</td>
                <td class="textCenter delMenu">
                    {{#if access}}
                    <input type="submit" class="deleteThisMenuOpenModal" data-id_menu="{{ id_menu }}" value="❌ Usuń ">
                    {{else}}
                    <input type="submit" class="noBtn" value="Brak dostępu">
                    {{/if}}</td>
            </tr>
            {{/each}}
 {{/if}}
        </table>
        <br> <br>
    </main>
    <footer>
        <div id="pagination-container"></div>
    </footer>
      {{> partial1 }}

    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.simplePagination.js"></script>
    <script>
        $(document).ready(function () {

            $('.editMenu').on('click', '.editThisMenuOpenModal', function () {
                var id = $(this).data('id_menu');
                var name = $(this).data('name');
                $('#EditMenuModal').modal('show');
                $('.id2').val(id);
                $('.nameInput').val(name);
            });

            $('.delMenu').on('click', '.deleteThisMenuOpenModal', function () {
                var id = $(this).data('id_menu');
                $('#DelMenuModal').modal('show');
                $('.id2').val(id);
            });
            $('#menuBtn').on('click', '#addNewMenu', function () {

                var id = $(this).data('id');
                $('#AddMenuModal').modal('show');
              
            });

        }); 
    </script>
</body>

</html>