<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gotuj z nami</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <p id='headerText'>Gotuj z nami - aplikacja kulinarna</p>
    </header>
      {{#if user}}
    {{> partial4 }}
    {{else}}
    {{> partial5 }}
    {{/if}}
    <br>

    {{#if thisUser}}
    <h1 class="textCenter">Przepisy użytkownika {{ thisUser.username}}</h1> 

    {{/if}}
    <main class="mainAll">
        <div id="containerRecipe">
            <div id="containerRecipesListProfile">
                {{#each results}}
                <ul class='listRecipes'>
                    <li><span class="id"> {{ id_recipe }}</span>
                    </li>
                    <li class='list_title' name="nazwa">
                        <form action="/recipe" method="get">
                            <button type="submit" class="SeeMoreButton SeeMoreButtonH" data-id="{{ id_recipe }}">{{ nazwa }}</button>
                        </form>

                    </li>
                    <li>
                        <br>
                        <form action="/recipe" method="get">
                            <button type="submit" class="SeeMoreButton" data-id="{{ id_recipe }}"> <img class="recipePhoto"
                                    src="../uploads/{{photo}}" alt="zdjęcie potrawy"></button>
                        </form>
                    </li>
                    <hr class="hrRecipe">
                    <li class="bottom">
                        <div class='list_description' name="kategoria">Kategoria: {{ kategoria }}
                        </div>
                        <div class='buttonsDelAndEditTd'>
                            <br>
                    </li>
                </ul>

                {{/each}}
                     </div>
        </div>
    </main>
     {{> partial3 }}
      {{> partial1 }}

    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.simplePagination.js"></script>

    <script>
        $(document).ready(function () {
            var items = $("#containerRecipesListProfile .listRecipes");
            var numItems = items.length;
            var perPage = 8;
            if (numItems > perPage) {
                items.slice(perPage).hide();

                $('#pagination-container').pagination({
                    items: numItems,
                    itemsOnPage: perPage,
                    prevText: "&laquo;",
                    nextText: "&raquo;",
                    onPageClick: function (pageNumber) {
                        var showFrom = perPage * (pageNumber - 1);
                        var showTo = showFrom + perPage;
                        items.hide().slice(showFrom, showTo).show();
                        window.scrollTo(0, 180);
                    }
                });
            }
         
     

        
            //see more
            $('#containerRecipesListProfile').on('click', '.SeeMoreButton', function () {
                var id = $(this).data('id');
                $.ajax({
                    type: 'GET',
                    url: '/recipe',
                    data: { id },
                    succes: function (response) {

                    }
                });
            });

        }); 
    </script>
</body>

</html>