<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>Gotuj z nami</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        img {
            vertical-align: middle;
        }

        /* Position the image container (needed to position the left and right arrows) */
        .containerPhoto {
            position: relative;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;

        }

        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* Container for image text */
        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Six columns side by side */
        .column {
            float: left;
            width: 16.66%;
        }

        /* Add a transparency effect for thumnbail images */
        .demo {
            opacity: 0.6;
        }

        .active,
        .demo:hover {
            opacity: 1;
        }
    </style>
</head>

<body>
    {{#if user}}
    {{> partial4 }}
    {{else}}
    {{> partial5 }}
    {{/if}}

    <main class="mainAll">
        {{!-- -----------------------------Delete Product Modal---------------------------------------- --}}
        <form id="" action="/delete" method="post">
            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Usuwanie przepisu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <strong>Na pewno chcesz usunąć ten element?</strong>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="id" class="form-control id2" required>
                            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-warning">Usuń</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{!-- -----------------------------Delete Product Modal---------------------------------------- --}}

        <div class="modal fade" id="DeleteComModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Usuwanie przepisu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Na pewno chcesz usunąć ten komentarz?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="form-control id2" required>
                        <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-warning deleteThisComment">Usuń</button>
                    </div>
                </div>
            </div>
        </div>
        {{!-- -----------------------------Add To Menu Modal---------------------------------------- --}}
        <form id="" action="/addToMenuItem" method="get">
            <div class="modal fade" id="addToMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Dodawanie do jadłospisu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <strong>Wybierz nazwę swojego jadłospisu</strong>
                            {{!--  --}}
                            <div class="form-group">
                                <select class="custom-select" name="id_menu" required>
                                    {{#each menu}}
                                    <option value="{{id_menu}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{!--  --}}
                            <strong>Wybierz typ posiłku</strong>
                            {{!--  --}}
                            <div class="form-group">
                                <select class="custom-select" name="type" required>
                                    <option value="Śniadanie">Śniadanie</option>
                                    <option value="II śniadanie">II śniadanie</option>
                                    <option value="Lunch">Lunch</option>
                                    <option value="Obiad">Obiad</option>
                                    <option value="Przekąska">Przekąska</option>
                                    <option value="Kolacja">Kolacja</option>
                                </select>
                            </div>
                            {{!--  --}}
                            <strong>Wybierz dzień tygodnia</strong>
                            {{!--  --}}
                            <div class="form-group">
                                <select class="custom-select" name="day" required>
                                    <option value="Poniedziałek">Poniedziałek</option>
                                    <option value="Wtorek">Wtorek</option>
                                    <option value="Środa">Środa</option>
                                    <option value="Czwartek">Czwartek</option>
                                    <option value="Piątek">Piątek</option>
                                    <option value="Sobota">Sobota</option>
                                    <option value="Niedziela">Niedziela</option>
                                </select>
                            </div>
                            {{!--  --}}
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="id" class="form-control id2" required>
                            <button type="button" class="btn " data-dismiss="modal">Anuluj</button>
                            <button type="submit" class="btn btn-warning addToMenuBtn">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{!-- -------------------------------------------------- --}}
        <div id="containerRecipe">
            {{#each results}}
            <div class="wrapper">
                <header class="header">
                    <span class="id"> {{ id }}</span>
                    <div class="recipeName"><br><br><br><br><br>
                        <h3>{{ nazwa }}</h3>
                        <a class="recipeCategory">kategoria: {{ kategoria }}</a>
                        <form action="/otherUserProfile" method="get" class="recipeAuthorForm">
                            <button class="recipeAuthor" type="submit" data-id_user="{{id_user}}">Autor:
                                {{ username }}</button>
                        </form>
                    </div>

                    {{#if ../thisUser}}
                    <div id="editDelBtns">
                        <form action="/editWindow" method="get" class="inline">
                            <button href="javascript:void(0);" type="submit" class="btn btn-warning editBtn"
                                data-toggle="modal" data-target="#exampleModal" data-id="{{ id }}"
                                data-photo="{{ photo }}" data-photos="{{ photos }}" data-nazwa="{{ nazwa }}"
                                data-skladniki="{{ skladniki }}" data-przygotowanie="" data-kategoria="">
                                🖊️ Edytuj
                            </button>
                        </form>
                        <button href="javascript:void(0);" class='btn btn-warning delete editBtn inline'
                            data-id="{{ id }}" type='submit'>
                            ❌ Usuń </button>
                    </div>
                    {{/if}}
                </header>

                <article class="main">
                    <input value="{{photos}}" class="id photos">
                    <div class='myFirstSlides '><img src="../uploads/{{photo}}" alt="zdjęcie potrawy" style='width:70%'>
                    </div>
                    <div class="containerPhoto"></div>
                    <br>
                    <h6>Przygotowanie</h6>
                    <textarea id="przygotowanie" class="id">{{ przygotowanie }}  </textarea>
                    <div id="logPrzygotowanie">
                    </div>
                </article>
                <aside class="aside aside-1">


                    <h6>Składniki</h6>

                    <textarea id="skladniki" class="id">{{skladniki}}</textarea>
                    <div id="logSkladniki"> </div>
                    {{#if ../user}}
                    <hr>
                  
                    <br>
                    <div style="text-align:center;" id="addToMenuShowModalDiv">
                        <button class='btn btn-warning inline addToMenuShowModalBtn'>➕ Dodaj do jadłospisu</button>

                    </div>
                    {{/if}}
                </aside>
            </div>
            <div class="color">
                <div class="allCommentsDiv">
                    <h5>Komentarze</h5>
                    <br>
                    {{#if ../user}}
                    <form action="/saveComment" method="get">

                        <input class="id" name="id_recipe" value="{{id}}">
                        <label>Dodaj komentarz</label>
                        <textarea class="comment " name="comment" required></textarea>
                        <button type="submit" class="btn btn-warning commentBtn">
                            Dodaj komentarz
                        </button>

                    </form>
                    {{/if}}
                    <hr>

                    {{/each}}

                    {{#each comment}}
                    <div>
                        <a class="id">{{id_comment}}</a>
                        <a class="insertion_data ">{{insertion_data}}</a>
                        <h6>{{username}}</h6>
                        <textarea class="commentBox comment{{id_comment}}" readonly>{{comment}}</textarea>
                        {{#if is_it_me}}
                        <div class="editDelBtns floatRight">
                            <button href="javascript:void(0);" type="submit" class="btn btn-warning editComment editBtn"
                                data-toggle="modal" data-target="#exampleModal" data-id_comment="{{ id_comment }}">
                                🖊️ Edytuj
                            </button>
                            <button href="javascript:void(0);" class='btn btn-warning editBtn deleteComments inline'
                                data-id_comment="{{ id_comment }}" type='submit'>
                                ❌ Usuń </button>

                        </div>
                        {{/if}}

                    </div>
                    <br>

                    <hr>
                    {{/each}}
                </div>
            </div>
    </main>
    <br><br>
      {{> partial1 }}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.js"></script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>



    <script>
        $(document).ready(function () {

            let text = $('#skladniki').text()
            var $log = $("#logSkladniki"),
                html = $.parseHTML(text)
            $log.append(html);
            let text2 = $('#przygotowanie').text()
            var $log = $("#logPrzygotowanie"),
                html = $.parseHTML(text2)
            $log.append(html);

            //------ slider ------
            let photos = [];
            let str = $(".photos").val();
            photos = str.split(",");

            photos.forEach(function (el, i) {
                $(".containerPhoto").append("<div class='mySlides '><img src='../uploads/" + el + "' style='width:70%' ></div>");
            });

            photos.forEach(function (el, i) {
                let j = i + 1;
                $(".containerPhoto").append('<img class="demo cursor" src="../uploads/' + el + '" style="width:15%" onclick="currentSlide(' + j + ')" alt="zdjęcie potrawy"></div>');
            });
            $(".containerPhoto").append('</div>');

            //*    

           
            $('.recipeName').on('click', '.recipeAuthor', function () {
                var id_user = $(this).data('id_user');

                if (id_user) {
                    $.ajax({
                        type: 'get',
                        url: '/otherUserProfile',
                        data: { id_user },
                        succes: function (response) {

                        }
                    });
                }
            });

          

            $('.editDelBtns').on('click', '.editComment', function () {

                var id_comment = $(this).data('id_comment');


                $('.comment' + id_comment).prop("readonly", false);
                $('.comment' + id_comment).css('border', 'solid 1px rgba(77, 77, 77, 0.514)');
                $(this).before("<button class='btn btn-warning editBtn saveEditComment' ><a class='id idCommentEdit'>" + id_comment + "</a>Zapisz</button><button class='btn editBtn closeEditComment' >Anuluj</button> ");
                $('.editComment').attr("disabled", true);

            });
            //close comment
            $('.editDelBtns').on('click', '.closeEditComment', function () {
                var id_comment = $('.idCommentEdit').text();
                $('.comment' + id_comment).prop("readonly", true);
                $('.comment' + id_comment).css('border', 'none');
                id_comment = "";
                var comment = "";
                location.reload();
            });
            //Edit Comment
            $('.editDelBtns').on('click', '.saveEditComment', function () {
                var id_comment = $('.idCommentEdit').text();
                var comment = $('.comment' + id_comment).val();
                $('.comment' + id_comment).prop("readonly", true);
                $('.comment' + id_comment).css('border', 'none');

                $.ajax({
                    type: 'GET',
                    url: '/updateComment',
                    data: { id_comment, comment },
                    succes: function (response) {
                        //	window.location = "";
                    }
                });
                $('.editComment').attr("disabled", false);
                $(this).hide();
                id_comment = "";
                var comment = "";
                location.reload();
            });
            //showing delete record modal
            $('#editDelBtns').on('click', '.delete', function () {
                var id = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.id2').val(id);
            });
            $('.editDelBtns').on('click', '.deleteComments', function () {
                var id_comment = $(this).data('id_comment');
                $('#DeleteComModal').modal('show');
                $('.id2').val(id_comment);

            });
            //showing add to menu modal 
            $('#addToMenuShowModalDiv').on('click', '.addToMenuShowModalBtn', function () {
                var id = $(this).data('id');
                $('#addToMenuModal').modal('show');
                $('.id2').val(id);
            });
            //delete comment
            $('#DeleteComModal').on('click', '.deleteThisComment', function () {

                var id_comment = $('.id2').val();

                // alert(id)
                location.reload();
                if (id_comment) {
                    $.ajax({
                        type: 'GET',
                        url: '/deleteComment',
                        data: { id_comment },
                        succes: function (response) {
                        }
                    });
                }
            });
        });

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");

            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            if (slides[slideIndex - 1]) {
                slides[slideIndex - 1].style.display = "block";
                $(".myFirstSlides").css("display", "none");
            }

        }
    </script>
</body>

</html>