<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gotuj z nami</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{#if user}}
    {{> partial4 }}
    {{else}}
    {{> partial5 }}
    {{/if}}
    <form action="/searchIt" method="get" class="loginForm height addRecipeForm">
        <h4 class="textCenter">Wyszukiwarka </h4> <br>
        {{#if message}}<div class="errorMessage">
            <p>{{ message }}</p>
        </div>{{/if}}
        Nazwa przepisu:
        <br>
        <label class="sr-only" id="inlineFormInputGroupUsername2">Nazwa przepisu</label>
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" name="nazwa" class="form-control" id="inlineFormInputGroupUsername1"
                placeholder="Podaj nazwę przepisu do wyszukania">
        </div>

        Składniki: <br> <textarea type="text" name="skladniki" class="form-control inputComponentsAndPreparing"
            id="inlineFormInputGroupUsername2" placeholder="Wymień składniki, których chcesz użyć"></textarea>
        <br>
        Składniki, który nie chcesz użyć: <br> <textarea type="text" name="antyskladniki"
            class="form-control inputComponentsAndPreparing" id="inlineFormInputGroupUsername2"
            placeholder="Wymień składniki, których nie chcesz użyć"></textarea>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="kategoria" id="inlineCheckbox0" value="">
            <label class="form-check-label" for="inlineCheckbox0">Wszystkie</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="kategoria" id="inlineCheckbox1"
                value="Dania i przekąski">
            <label class="form-check-label" for="inlineCheckbox1">Dania i przekąski</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="kategoria" id="inlineCheckbox2" value="Ciasta">
            <label class="form-check-label" for="inlineCheckbox2">Ciasta</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="kategoria" id="inlineCheckbox3" value="Lody i napoje">
            <label class="form-check-label" for="inlineCheckbox3">Lody i napoje</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="kategoria" id="inlineCheckbox4" value="Wege">
            <label class="form-check-label" for="inlineCheckbox4">Wege</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="kategoria" id="inlineCheckbox5"
                value="Kuchnie świata">
            <label class="form-check-label" for="inlineCheckbox5">Kuchnie świata</label>
        </div>
        <br> <br>
        <input type="submit" class="btn btn-warning floatRight" value="Szukaj przepis" />

    </form>
    <br><br>
  {{> partial1 }}

    <script>
        $('#inlineCheckbox0').click(function (event) {
            if (this.checked) {
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
    </script>
</body>

</html>