﻿*, *:before, *:after{
    box-sizing: border-box;
}
body {
    padding: 0;
    border: 0;
}

header {
    background-image: url('img/header.jpg');
    background-color: black;
    height: 420px;
    padding: 0;
    border: 0;
    top: 0;
    -webkit-box-shadow: -5px 8px 15px 0px rgba(36, 29, 12, 1);
    -moz-box-shadow: -5px 8px 15px 0px rgba(36, 29, 12, 1);
    box-shadow: -5px 8px 15px 0px rgba(36, 29, 12, 1);
}

.add {
    float: right;
    margin: 15px;
}
.editMainImg:hover{
    opacity: 0.5;
    cursor: pointer;
}
.addBtn, .saveEdit, .saveImgEdit{ 
    float: right;
  
}
#changeImgLabel{
    visibility: hidden;
    font-weight: bold;
    color: green;
}
.addHeight{
    height: 1300px!important;
}
.editImgBtn{
    float: right;
    background-color:    rgba(240, 172, 78, 0.322) ;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;

}
.editImgBtn, .editImg{
    margin: 5px;
}

#headerText {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    padding: 10%;
    margin: 0;
}

.red {
    color: rgb(190, 16, 16) !important;
    font-size: 14px !important;
}

.green {
    color: green;
    font-size: 14px !important;
}

.addFeedbackWell, .addFeedbackWrong {
    display: none;
    float: right;
}

#navigation {
    background-color: rgba(21, 14, 6, 0.76) !important;
    width: 100%;
    color: whitesmoke;
    position: fixed;
    padding: 10px;
    top: 0;
    z-index: 10;
}

.nav-link {
    margin-top: auto;
}

.collapse {
    position: relative;
}

.menuText {
    padding: 5px;
    font-size: 18px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.cutlery {
    font-size: 15px;
}

.listRecipes {
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 20px;
    margin: 5px;
    list-style: none;
    padding: 25px;
    -webkit-box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
    -moz-box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
    box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
    max-width: 640px;
}

.loggedInAs{
    width: 150px;
}
h6{
    padding: 15px;
}
#containerRecipesList, #containerRecipesListProfile  {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto;

    grid-gap: 10px;
    margin: 25px;
}
.deleteMenuItemBtn{
    float: right;
    border: 1px solid rgba(240, 172, 78, 0.164);
    background-color:    rgba(240, 172, 78, 0.322) ;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}
.containerRecipesListMenu{
    display: flex;
    grid-template-columns: auto auto auto auto  ;
    margin: 25px; 
    flex-wrap: wrap;
}
.daysh3{
    margin-left:20px;
}
.mealh5{
    margin-left:40px;
}
.listRecipesMenu{
    max-width: 300px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 20px;
    margin: 5px;
    list-style: none;
    padding: 25px;
    -webkit-box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
    -moz-box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
    box-shadow: 6px 7px 19px 0px rgba(38, 38, 38, 1);
}
.goToMenuItem{
    padding: 8px;
    text-align: left;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.dontGoToMenuItem{
    padding: 8px;
    text-align: left;
    border: none;
    background-color: transparent;
}
.editThisMenuOpenModal, .deleteThisMenuOpenModal{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.editImgContainer{
    width: 80%;
    margin: 5px;
    border-radius: 5px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center; 
    padding: 10px;
}
.more{
    border: 5px dashed rgba(0, 0, 0, 0.205);
    width: 300px;
    height: 430px;
    color: rgba(0, 0, 0, 0.205);
    font-size: 240px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;

}
.nameMenuitemItem{
    min-height: 95px;
}
.favouriteBtn{
    border: 1px solid rgba(240, 172, 78, 0.164);
    background-color:    rgba(240, 172, 78, 0.322) ;
    cursor: pointer;
    border-radius: 5px;

}
#menuBtn{
   text-align: center;
   
}
#showAllMenu, #myMenuTable{
    visibility: hidden;
    position: absolute;
    
}
.smallerTh{
    text-align: center;
    width: 15px;
}
.delMenu{
    cursor: pointer;
    text-align: center;
}
.menuNameInput{
    border: none;
    background-color: transparent;
}
hr {
    border-top: 1px solid rgba(240, 172, 78, 0.322) !important;
}
.delete {
    top: 0;
}

.list_title {
    text-transform: uppercase;
}

.modalTextarea {
    height: 100px;

}
.tdName{
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.modalTextareaName {
    height: 30px;
}

.modalTextareaName, .modalTextarea {
    width: 96%;
    resize: none;
    border-color: rgba(223, 223, 223, 0.322);
    background-color: rgba(161, 161, 161, 0.13);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modalTitle {
    padding: 5px;
    text-align: center;
}

.list_description {
    font-size: 14px;
}

.containerNav {
    margin: 5px;
    color: black;
    float: right;
}
.categoryNavLi{
    margin-top: 13px;
    margin-right: 20px;
}

.selectNav {
    height: 38px;
    margin-top: 10px;
    font-size: 15px!important;
    border: none;
    background-color: transparent;
    outline: none;
    color: white !important;
}
.selectNav:hover{
    background-color: transparent;
}
.selectNavOff {
    height: 38px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    outline: none;
    color: white !important;
}
.selectNavButton {
    background-color: transparent;
    border: none;
}

#selectNavId * {
    position: absolute;
    color: black !important;
}

.fromNav {
    display: inline !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-toggler-icon {
    color: white !important;
    ;
}

.searchButton {
    margin-right: 10px!important;
    font-size: 16px!important; 
    font-family: Arial, Helvetica, sans-serif!important;
    border: 1px solid #ffc107 !important;
    color: #ffc107 !important;
    background-color: #49494949 !important;
}
.searchNavInput, .searchDetailButton ,.btn-secondary ,.navbar-brand {
    font-family: Arial, Helvetica, sans-serif!important; 
}
.searchButton:hover {
    background-color: #ffc1073b !important;
}

.modalButton {
    font-size: 15px;
    background-color: transparent;
    border: none;
    margin-top: 19px;
    color: white;
}

.buttonsEdit {
    float: right;
    margin: 5px;
}

.buttonsDelAndEditTd {
    padding: 15px;
}

option {
    color: black;
}

.like, .dislike  {
    border: none;
    background-color: transparent;
    font-size: 18px;
}
 .noBtn {
    border: none;
    background-color: transparent;
 
}

.inputComponentsAndPreparing {
    height: 100px !important;
}

.addRecipeForm, .registerForm {
    margin: 110px 30px 0px 30px;}
#openAddTabButton{
    color: white;
    background-color: transparent;
    border: none;
    margin-top: 10px;
}
.searchForm{
    margin: 10px;
}
.loginForm{
    background-color: whitesmoke;
    margin-top: 15% ;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    border-radius: 15px;
    min-height: 350px;
    -webkit-box-shadow: 21px 10px 66px -30px rgba(0,0,0,0.75);
-moz-box-shadow: 21px 10px 66px -30px rgba(0,0,0,0.75);
box-shadow: 21px 10px 66px -30px rgba(0,0,0,0.75);

}
.textCenter{
    text-align: center;
}
.LoginBtn{
    float: right;
}
.id {
    display: none !important;
}

.SeeMoreButton {
    border: none;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.SeeMoreButtonH
{  
    width: 250px;
    min-height: 80px;}


.recipeName, .recipeRate {
    text-align: center;
    padding: 15px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
#logSkladniki, #logPrzygotowanie{
    text-align: left;
}
.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}
.dropdownUser{
    color:black ;
    border: none;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    padding: 5px;
   
   
    
}
.insertion_data{
    float: right;
}
.btn-secondary{
    border: none!important;
    background-color: transparent!important;  
}
.commentBox{
    border: none;
    background-color: transparent;  
    resize: none;
}
.floatRight{ float: right;}
 form {margin: 0;}
.searchDetailButton{
    border: none;
    background-color: transparent;
    font-size: 11px;
    color:white;
    margin-left: 20px;
}
.header {
    background-color: whitesmoke;
    background-image: none;
    border: none;
    box-shadow: none;
    height: 300px;
    ;
}

.recipeCategory {
    font-size: 11px;
}
.recipeAuthor{
    border: none;
    background-color: transparent;
    font-size: 11px;
    cursor: pointer;
}
.recipePhoto{
  
    height:  150px;
    width: 200px;
}
.aside-1 {
    order: 1;
    background-color: whitesmoke; 
    min-height: 310px;
}

.editBtn {
    margin: 20px;
  
}
.inline{
      display: inline;
}
#editDelBtns{
    float: right;
    margin-top: -100px;
    margin-right: 35px;
}
.color{
   background-color: whitesmoke; 
}
.allCommentsDiv{
    border: 1px solid rgba(77, 77, 77, 0.212);
    background-color: rgb(255, 255, 255); 
    margin-right: 25.5%;
    border-radius: 5px;
    padding: 15px;
    }
    .comment{
        resize: none;
        width: 95%;
        margin: 10px;
        height: 100px;
        border-radius: 5px;
        border: 1px solid rgba(77, 77, 77, 0.514);
    
    }
    .commentBtn{
      
        margin: 10px;
    }
    .categoryH5{
        padding: 25px;
        text-align: center;
    }


@media all and (max-width: 1190px) {
    #containerRecipesList {
        grid-template-columns: auto;
    }
    .editBtn {
        margin: 5px;
    }
    #editDelBtns{
        float: left;
        margin-top: 0px;
        margin-left: 35%;

    }
    .aside-1 {
        background-color: transparent;
    }
    .loginForm{
       
        margin-top: 110px ;
        margin-left: 10%;
        margin-right: 10%;
    }
    .allCommentsDiv{
        margin-right: 0;
    }
}
textarea{
    resize: none;
}
@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }

}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

}


/*  -------------------pagination-------------- */
.list-wrapper {
	padding: 15px;
	overflow: hidden;
}

.list-item {
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.list-item h4 {
	color: #FF7182;
	font-size: 18px;
	margin: 0 0 5px;	
}

.list-item p {
	margin: 0;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: rgb(126, 126, 126);
	border-color: rgb(136, 136, 136);
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: rgb(92, 92, 92);
}


.custom-file-input:lang(en)~.custom-file-label::after{
    content: "Przeglądaj"!important;
}
.height{
    min-height:600px;
}
.heightEditUser{
    min-height:550px;
}
.heightEdit{
    min-height: 1900px;
}
.errorMessage p {
    color: red;
}
.goodMessage p {
    color: green;
}